.index{
    padding-left:30px;
    padding-right:5px;
    padding-bottom:10px;
    border:1px solid;
    border-color:black;
    width:60%;
    min-height:100vh;
}

.display{
    display:none;
}

.display_inline-block{
    display:inline-block
}

.display_select{
    padding-top:30px;
}

.text_area{
    padding:5px;
    border:1px solid;
    border-color:grey;
    width:80%;
}

.text_area label{
    font-size:13px
}

.button{
    border-radius:30px;
    outline: none;
    font-size:10px;
    cursor:pointer;
}

.text{
    font-size:10px;
}

.header_edit_order{
    text-align:right;
}

.display-inlineblock{
    display:inline-block;
}

.hooter_text{
    font-size:14px;
}

.border-top-dashed{
    border-top:1px dashed;
}

.content_text{
    font-size:16px;
}

.margin-tb-10{
    margin-top:10px;
    margin-bottom:10px;
}

.margin-right-auto{
    margin: 0 0 0 auto;;
}

.error{
    color:red;
    font-size:13px;
}
